/_ReSharper.Kulman.WP8
/Kulman.WP8/obj
/Kulman.WP8/Bin
/Kulman.WP8/*.user

/*.suo

/Kulman.WP8.Nuget/bin
/Kulman.WP8.Nuget/obj
/Kulman.WP8.Nuget/*.nupkg

/Kulman.WP8.Nuget/*.bak

/Kulman.WP8.Nuget/NuGet.log
/tools/FAKE
/packaging
/test
/build
